[user]
	email = roman.rokn@gmail.com
	name = romanrokon
[init]
	defaultBranch = main
[core]
	autocrlf = input
   	safecrlf = false
	excludesfile = /Users/rzman/.gitignore_global
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Monokai Extended
[maintenance]
	repo = /Volumes/Work/projects/freelance/revnest/frontend
	repo = /Volumes/Work/projects/freelance/revnest/admin
	repo = /Volumes/Work/projects/freelance/revnest/backend_refactoring
	repo = /Volumes/Work/projects/freelance/revnest/revchat
	repo = /private/tmp/claude-502/-Volumes-Work-projects-obook/b1e9ad98-54b7-4a7c-84bc-b4867992c890/scratchpad/pathao-eng_courier-woocommerce-plugin
	repo = /private/tmp/claude-502/-Volumes-Work-projects-obook/b1e9ad98-54b7-4a7c-84bc-b4867992c890/scratchpad/arif98741_multicourier
	repo = /private/tmp/claude-502/-Volumes-Work-projects-obook/b1e9ad98-54b7-4a7c-84bc-b4867992c890/scratchpad/bytebrain3_RouteXpress
	repo = /private/tmp/claude-502/-Volumes-Work-projects-obook/b1e9ad98-54b7-4a7c-84bc-b4867992c890/scratchpad/sufianrubel_pathao-courier-api-postman-collection
	repo = /private/tmp/claude-502/-Volumes-Work-projects-obook/b1e9ad98-54b7-4a7c-84bc-b4867992c890/scratchpad/ornate-source_bddeliveries
	repo = /private/tmp/claude-502/-Volumes-Work-projects-obook/b1e9ad98-54b7-4a7c-84bc-b4867992c890/scratchpad/shahria7k_pathao-courier
